.canva{
    background-color:yellowgreen;
}

.buttons button{
    width: 100px;
    height: 50px;
    margin: 10px;

}
#startBtn{
background-color: green;
color: white;
}
#stopBtn{
background-color: red;
color: white;
}